header {
  // background-color: $color-ss-dark;
  background: linear-gradient(to right, $color-ss-dark, $color-ss-dark-hover);
}

.header-height {
  height: 70px;
}

.header-img {
  img {
    width: 25px;
    transition: 0.5s;

    &:hover {
      // width: 30px;
      transform: scale(1.01);
    }
  }
}

.header-logo {
  h1 {
    transition: 0.5s;
    font-size: medium;
  }

  img {
    width: 30px;
    transition: 0.5s;

    &:hover {
      // width: 35px;
      transform: scale(1.03);
    }
  }
}
