// Fonts
$font-family: "Gontserrat medium";

@font-face {
  font-family: $font-family;
  src: url(../assets/fonts/Gontserrat-Medium.ttf);
  font-display: swap;
}

// Colors
$color-ss-green: #20bf55;
$color-ss-red: #a52422;
$color-ss-dark: #242730;
$color-ss-dark-hover: #434859;
$color-ss-white: bisque;
